<div class="th-menu-wrapper">
  <div class="th-menu-area text-center">
    <button class="th-menu-toggle"><i class="fal fa-times"></i></button>
    <div class="mobile-logo">
      <a href="index.html"
        ><img
          src="assets/img/polypus/logo-polypus.png"
          alt="PolyPus Corporation"
      /></a>
    </div>
    <div class="th-mobile-menu">
      <ul>
        <li>
          <a href="index.html">Acceuil</a>
        </li>
        <li>
          <a href="about.html">à propos</a>
        </li>

        <li class="menu-item-has-children">
          Residence
          <ul class="sub-menu">
            <li>
              <a href="project-details-fenoarivo.html">Alakamisy Fenoarivo</a>
            </li>
            <li>
              <a href="project-details-fianarantsoa.html">Fianarantsoa</a>
            </li>
            <li><a href="project-details.html">Andakana</a></li>
          </ul>
        </li>

        <li>
          <a href="service.html">Téchnologie</a>
        </li>
        <li>
          <a href="contact.html">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</div>
