{% extends 'index.html' %} {% load crispy_forms_tags %} {% block contenu %}
<style>
  /* Style personnalisé pour les messages d'aide */
  .form-text,
  #id_new_password2_helptext {
    font-size: 0.9rem; /* Ajuste la taille de la police pour rendre les messages moins dominants */
    color: #6c757d; /* Donne une couleur grise subtile aux messages */
    background-color: #f1f3f5; /* Ajoute un léger fond pour les distinguer du reste du formulaire */
    border-radius: 5px; /* Arrondit les coins pour un style plus doux */
    padding: 10px; /* Ajoute de l'espace autour du texte pour aérer le contenu */
    margin-top: 5px; /* Espace les messages par rapport aux champs de saisie */
    border: 1px solid #ced4da; /* Ajoute une bordure légère pour encadrer les messages */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* Apporte un effet de profondeur léger */
  }

  /* Style personnalisé pour les listes à puces dans form-text */
  .form-text ul,
  #id_new_password2_helptext {
    padding-left: 20px; /* Décale les puces pour une meilleure lisibilité */
    margin: 0; /* Supprime le margin par défaut */
  }

  .form-text li,
  #id_new_password2_helptext {
    list-style-type: disc; /* Change le type de puces en disques */
    color: #495057; /* Rend la couleur des puces légèrement plus foncée */
  }
</style>
<div
  class="container col-lg-8 col-md-12 col-sm-12 mb-5"
  style="
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  "
>
  <form method="post" autocomplete="off">
    {% csrf_token %}
    <h2 class="text-center mb-4" style="color: #343a40">
      Modifier votre mot de passe
    </h2>
    {{ form|crispy }} {% if messages %} {% for message in messages %}
    <p class="alert alert-danger text-center">{{ message }}</p>
    {% endfor %} {% endif %}
    <div class="d-flex justify-content-between">
      <button type="submit" class="btn btn-success btn-lg px-4">Valider</button>
      <a href="{% url 'pageAcceuil' %}" class="btn btn-secondary btn-lg px-4"
        >Annuler</a
      >
    </div>
  </form>
</div>
{% endblock %}
